body
{
	font-family:Verdana, Geneva, sans-serif;
}

#search-results{
	width:100%;
}

.search-result
{
	clear:both;
}
.search-icon
{
    position:relative;
	float:left;
	clear:left;
}
.album-thumb
{
	width:70px;
	height:70px;
}
.search-text
{
    list-style-type: none;
	font-size:80%;
	display:inline-block;
	vertical-align:middle;
	margin-left:-2px;
}
.search-text li
{
	list-style-type:none;
}
