*{				/*wildcard for changing everything; undoes browser defaults*/
	margin: 0;
	padding: 0;
}
html{			/*edit the entire html document*/
}

.search-result{
}

.search-icon{
    position:relative;
    float:left;
}
.search-text{
    list-style-type: none;
    float:right;
}